@use "src/styles/index" as *;

.footer {
    background: $white;
}

.contact-info {

    a {
        color: $black;
        padding-left: 0.2em;
    }

    .contact-icon {
        color: gray;
        margin-right: 0.6em;
    }
}