<!-- Component dynamically translated with transloco: https://github.com/ngneat/transloco -->
<ng-container *transloco="let text;">

    <!-- TERMS AND CONDITIONS OUTER -->
    <div class="outer">

        <!-- TERMS AND CONDITIONS INNER -->
        <div class="inner flex y-flex f-align-start">

            <!-- TERMS AND CONDITIONS -->
            <div id="terms-and-conditions" class="section y-flex f-align-start">
                <div class="medium-title">{{ text('legal.terms-and-conditions.name') }}</div>
                <div class="fw-lighter">{{ text('legal.terms-and-conditions.info') }}</div>
                <div class="download"><a href="assets/pdf/gtc.pdf" download>{{ text('legal.terms-and-conditions.download-pdf') }}</a></div>
            </div>
            <!-- TERMS AND CONDITIONS -->

            <div class="whitespace"></div>

        </div>
        <!-- TERMS AND CONDITIONS INNER -->

    </div>
    <!-- TERMS AND CONDITIONS OUTER -->

</ng-container>
